.section2{

    left: 0;
    bottom: 0;
    width: 50%;
    height: 67vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}


.photo2{
    width: 90%;
    margin-left: 15px;
    
}

.photo3{
    width: 90%;
    margin-left: 15px;
}

.photo4{
    width: 90%;
    margin-left: 10%;
    
}

.photo5{
    width: 90%;
    margin-left: 10%;
    
}